@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wardrobe</h1>
    <p class="lead">A web application for tracking, organizing and planning your wardrobe. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Wardrobe gives you a powerful, way to build dynamic closets that
            enable a clean expreience for an enjoyable, easy development of the essentials.
        </p>
        <p><a class="btn btn-default" href="http://nymag.com/strategist/article/best-wardrobe-essentials-women.html" target="_blank">VIEW &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more features.</h2>
        <p>Deluxe Studio extensions that makes it easy to add, remove, and update your closet 
        and tools to shop directly in Deluxe Studio.</p>
        <p><a class="btn btn-default" href="https://smile.amazon.com/s/ref=nb_sb_ss_c_3_5?url=search-alias%3Dfashion-womens-clothing&field-keywords=dress+for+women&sprefix=dress%2Caps%2C161&crid=18P5IUDFYZJ2G&rh=i%3Afashion-womens-clothing%2Ck%3Adress+for+women&ajr=0" target="_blank">VIEW &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wishlist</h2>
        <p>Easily add online purchases directly to your wardrobe.</p>
        <p><a class="btn btn-default" href="https://smile.amazon.com/s/ref=nb_sb_ss_i_5_15?url=search-alias%3Daps&field-keywords=womens+cardigan+sweaters+long+sleeve&sprefix=womens+cardigan%2Caps%2C161&crid=A4MCYC5AFO50" target="_blank">SHOP &raquo;</a></p>
    </div>
</div>